<!DOCTYPE html>
<html>
<head>
    <title>Add Grades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page-container">

<h1>Student Performance Tracker</h1>

<div class="form-card">

<h2>Add Grades</h2>

<form method="POST">

<input
type="text"
name="roll"
placeholder="Roll Number"
required>

<input
type="text"
name="subject"
placeholder="Subject"
required>

<input
type="number"
name="marks"
placeholder="Marks"
required>

<button type="submit">
Add Grade
</button>

</form>

</div>

<a href="/" class="back-btn">
← Back to Home
</a>

</div>

</body>
</html>