<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Student Performance Tracker</h1>

    <h3>Menu</h3>

    <div>
    <p><a href="/add_student">Add Student</a></p>

    <p><a href="/add_grades">Add Grades</a></p>

    <p><a href="/view_students">View Students</a></p>

    <p><a href="/class_average">Class Average</a></p>

    <p><a href="/topper">Find Topper</a></p>
    </div>

</body>
</html>