<!DOCTYPE html>
<html>
<head>
    <title>View Students</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page-container">

<h1>Student Performance Tracker</h1>

<div class="table-card">

<h2>View Students</h2>

<table>

<tr>
    <th>Roll Number</th>
    <th>Name</th>
    <th>Subject</th>
    <th>Marks</th>
    <th>Action</th>
</tr>

{% set ns = namespace(previous_roll='') %}

{% for student in students %}

<tr>

    {% if ns.previous_roll != student[0] %}

        <td>{{ student[0] }}</td>
        <td>{{ student[1] }}</td>

    {% else %}

        <td></td>
        <td></td>
    {% endif %}

    <td>{{ student[3] }}</td>

    <td>{{ student[4] }}</td>

    <td>

        <a
        href="/delete_grade/{{ student[2] }}"
        class="delete-btn">

        Delete

        </a>

    </td>

</tr>

{% set ns.previous_roll = student[0] %}

{% endfor %}

</table>

</div>

<a href="/" class="back-btn">
← Back to Home
</a>

</div>

</body>
</html>